<!DOCTYPE HTML>
<html>
    <% include head %>
    <body>
        <div id="doc">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Voting system</a>
                    </div><!-- end .navbar-header -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span id="adminAccount"><%= Account %></span> -
                                <%= Name %>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" href="#createVoteModal">Create Vote</a></li>
                                <li><a data-toggle="modal" href="#createAdminModal">Add Admin</a></li>
                                <li><a href="#">Modify Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul><!-- end .dropdown-menu -->
                        </li><!-- end .dropdown -->
                    </ul><!-- end .navbar-nav -->
                </div><!-- end .container -->
            </div><!-- end .navbar -->
            <div class="container">
                <% include createVoteModal %>
                <% include createAdminModal %>
                <div id="alertMessage" class="alert alert-success"></div><!-- end .alertMessage -->

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#VoteDiv" data-toggle="tab">VoteList</a></li>
                    <li><a href="#AdminDiv" data-toggle="tab">AdminList</a></li>
                </ul>
                <div class="tab-content">
                    <div id="VoteDiv" class="tab-pane active">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>VoteDate</th>
                                    <th>VoteName</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var key in Result) { %>
                                <tr class="VoteList<%= Result[key].VID %>">
                                    <td><%= Result[key].VoteDate %></td>
                                    <td><a href="/votes/<%= Result[key].VID %>"><%= Result[key].VoteName %></a></td>
                                    <td><button class="resetVote btn btn-info">Reset</button></td>
                                    <td><a class="btn btn-primary" href="/modify/<%= Result[key].VID %>">Modify</a></td>
                                    <td><a class="exportVote btn btn-success" href="/dump/<%= Result[key].VID %>">Export</a></td>
                                    <td><button class="deleteVote btn btn-danger">Delete</button></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div><!-- end #VoteDiv -->
                    <div id="AdminDiv" class="tab-pane">
                        <table class="table">
                            <tr>
                                <th>Account</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                            <% for (var key in Admin) { %>
                            <tr class="Admin<%= Admin[key].Account %>">
                                <td><%= Admin[key].Account %></td>
                                <td>
                                    <span class="modify-data modifyAdmin">
                                        <span class="text-data">
                                            <%= Admin[key].Name %>
                                        </span>
                                        <form class="input-data">
                                            <input type="hidden" name="Account" value="<%= Admin[key].Account %>">
                                            <input type="text" class="form-control" name="Name" value="<%= Admin[key].Name  %>">
                                        </form>
                                    </span>
                                </td>
                                <td><button class="deleteAdmin btn btn-danger">Delete</button></td>
                            </tr>
                            <% } %>
                        </table>
                    </div><!-- end #AdminDiv -->
                </div><!-- end .tab-content -->
            </div><!-- end .container -->
        </div><!-- end #doc -->
        <script>
            (function($){
                $('#alertMessage').hide();
                $('.modify-data > .input-data').hide();

                //createVoteModal
                $('#createVoteModal .submit').click(function() {
                    $.post('/api/createVote', $('#createVoteModal form').serialize())
                    .done(function(data) {
                        $('#createVoteModal').modal('hide');
                        var Status = (data.Success) ? ('success') : ('danger');
                        $('#alertMessage').html(data.Message).attr('class','alert alert-' + Status).show();
                        window.location.href = window.location.toString();
                    })
                    .fail(function(err) {
                        $('#createVoteModal').modal('hide');
                        $('#alertMessage').html('Create Vote Error').attr('class','alert alert-danger').show();
                    });
                });

                //createAdminModal
                $('#createAdminModal .submit').click(function() {
                    $.post('/api/createAdmin', $('#createAdminModal form').serialize())
                    .done(function(data) {
                        $('#createAdminModal').modal('hide');
                        var Status = (data.Success) ? ('success') : ('danger');
                        $('#alertMessage').html(data.Message).attr('class','alert alert-' + Status).show();
                    })
                    .fail(function(err) {
                        $('#createAdminModal').modal('hide');
                        $('#alertMessage').html('Create Admin Error').attr('class','alert alert-danger').show();
                    });
                });

                //resetVote
                $('.resetVote').click(function() {
                    var VID = $(this).parents('tr').attr('class').replace('VoteList','');
                    if (confirm('Are you sure??')) {
                        $.post('/api/resetVote', {VID:VID})
                        .done(function(data) {
                            var Status = (data.Success) ? ('success') : ('danger');
                            $('#alertMessage').html(data.Message).attr('class','alert alert-' + Status).show();
                        })
                        .fail(function(err) {
                            $('#alertMessage').html('Reset Error').attr('class','alert alert-danger').show();
                        });
                    }
                });

                //deleteVote
                $('.deleteVote').click(function() {
                    var tr = $(this).parents('tr');
                    var VID = tr.attr('class').replace('VoteList','');
                    if (confirm('Are you sure??')) {
                        $.post('/api/deleteVote', {VID:VID})
                        .done(function(data) {
                            if (data.Success) {
                                tr.remove();
                            }
                            var Status = (data.Success) ? ('success') : ('danger');
                            $('#alertMessage').html(data.Message).attr('class','alert alert-' + Status).show();
                        })
                        .fail(function(err) {
                            $('#alertMessage').html('Delete Error').attr('class','alert alert-danger').show();
                        });
                    }
                });

                //deleteAdmin
                $('.deleteAdmin').click(function() {
                    var tr = $(this).parents('tr');
                    var Account = tr.attr('class').replace('Admin','');
                    if (confirm('Are you sure??')) {
                        $.post('/api/deleteAdmin', {Account:Account})
                        .done(function(data) {
                            if (data.Success) {
                                tr.remove();
                            }
                            var Status = (data.Success) ? ('success') : ('danger');
                            $('#alertMessage').html(data.Message).attr('class','alert alert-' + Status).show();

                            //delete myself
                            var myself = $('#adminAccount').html();
                            if (Account == myself) {
                                window.location.href = '/logout';
                            }
                        })
                        .fail(function(err) {
                            $('#alertMessage').html('Delete Error').attr('class','alert alert-danger').show();
                        });
                    }
                });

                //Modify
                $('.modify-data > .text-data').click(function() {
                    $(this).hide();
                    $(this).parent().find('.input-data').show().find('input').focus();
                });

                $('.modify-data > .input-data > input').blur(function() {
                    var form = $(this).parent();
                    var action = form.parent().attr('class').replace('modify-data ','');
                    var self = $(this);

                    $.post('/api/' + action, form.serialize())
                    .done(function(data) {
                        form.hide();
                        form.parent().find('.text-data').show();
                        form.parent().find('.text-data').html(self.val());
                    })
                    .fail(function(err) {
                        self.val(form.parent().find('.text-data').html().trim());
                        alert('UPDATE Fail');
                    });
                });

            })(jQuery);
        </script>
    </body>
</html>
