<!DOCTYPE HTML>
<html>
    <% include head %>
    <body>
        <div id="doc">
            <% include defaultNavbar %>
            <div class="container">
                <h3 class="text-center">
                    <span class="modify-data modifyVote">
                        <span class="text-data">
                            <%= Vote[0].VoteDate %>
                        </span>
                        <form class="input-data">
                            <input type="hidden" name="VID" value="<%= VID %>">
                            <input type="text" class="form-control" name="VoteDate" value="<%= Vote[0].VoteDate %>">
                        </form>
                    </span> -
                    <span class="modify-data modifyVote">
                        <span class="text-data">
                            <%= Vote[0].VoteName %>
                        </span>
                        <form class="input-data">
                            <input type="hidden" name="VID" value="<%= VID %>">
                            <input type="text" class="form-control" name="VoteName" value="<%= Vote[0].VoteName %>">
                        </form>
                    </span>
                </h3>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-primary" data-toggle="modal" href="#createGroupModal">Create Group</a>
                        <% include createGroupModal %>
                        <hr>
                        <div id="alertGroupMessage"></div><!-- end .alertGroupMessage -->
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Group Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var key in Group) { %>
                                <tr class="Group<%= Group[key].VGID %>">
                                    <td>
                                        <span class="modify-data modifyGroup">
                                            <span class="text-data">
                                                <%= Group[key].Title %>
                                            </span>
                                            <form class="input-data">
                                                <input type="hidden" name="VGID" value="<%= Group[key].VGID %>">
                                                <input type="text" class="form-control" name="Title" value="<%= Group[key].Title %>">
                                            </form>
                                        </span>
                                    </td>
                                    <td><button type="button" class="close delGroup">&times;</button></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <form class="form-inline text-right">
                            <input type="hidden" name="VID" value="<%= VID %>">
                            <div class="form-group">
                                <input type="text" name="CandidateNubmer" class="form-control CandidateNubmer" placeholder="Number">
                            </div>
                            <div class="form-group">
                                <input type="text" name="CandidateName" class="form-control CandidateName" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <button id="addCandidate" class="btn btn-primary">新增</button>
                            </div>
                        </form>
                        <hr>
                        <div id="alertCandidateMessage"></div><!-- end .alertCandidateMessage -->
                        <hr>
                        <table class="table CandidateList">
                            <thead>
                                <tr>
                                    <th>Num.</th>
                                    <th class="nameColumn">Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var key in Candidate) { %>
                                <tr class="Candidate UID<%= Candidate[key].UID %>">
                                    <td>
                                        <span class="modify-data modifyCandidate">
                                            <span class="text-data">
                                                <%= Candidate[key].Number %>
                                            </span>
                                            <form class="input-data">
                                                <input type="hidden" name="UID" value="<%= Candidate[key].UID %>">
                                                <input type="text" class="form-control" name="Number" value="<%= Candidate[key].Number %>">
                                            </form>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="modify-data modifyCandidate">
                                            <span class="text-data">
                                                <%= Candidate[key].Name %>
                                            </span>
                                            <form class="input-data">
                                                <input type="hidden" name="UID" value="<%= Candidate[key].UID %>">
                                                <input type="text" class="form-control" name="Name" value="<%= Candidate[key].Name %>">
                                            </form>
                                        </span>
                                    </td>
                                    <td><button type="button" class="close delCandidate">&times;</button></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end .container -->
        </div><!-- end #doc -->
        <script>
            (function($){
                $('.alert').hide();
                $('.cloneDiv').hide();
                $('.modify-data > .input-data').hide();

                //createGroupModal
                $('#createGroupModal .clone').click(function() {
                    var check = $('#createGroupModal .clone:checked').val();
                    var div = $(this).parents().find('.cloneDiv');
                    (undefined == check) ? (div.hide()) : (div.show());
                });

                $('#createGroupModal .addColumn').click(function(e) {
                    e.preventDefault();
                    $('#createGroupModal .group-name .form-control:first')
                        .clone()
                        .val("")
                        .appendTo('#createGroupModal .group-name');
                });

                $('#createGroupModal .submit').click(function() {
                    $.post('/api/createGroup', $('#createGroupModal form').serialize())
                    .done(function(data) {
                        $('#createGroupModal').modal('hide');
                        var Status = (data.Success) ? ('success') : ('danger');
                        $('#alertGroupMessage').html(data.Message).attr('class','alert alert-' + Status).show();
                        window.location.href = window.location.toString();
                    })
                    .fail(function(err) {
                        $('#createGroupModal').modal('hide');
                        $('#alertGroupMessage').html('Please Login').attr('class','alert alert-danger').show();
                    });
                });


                //addCandidate
                $('#addCandidate').click(function(e) {
                    e.preventDefault();
                    $.post('/api/createCandidate', $(this).parents('form').serialize())
                    .done(function(data) {
                        console.log(data);
                        var Status = (data.Success) ? ('success') : ('danger');
                        $('#alertCandidateMessage').html(data.Message).attr('class','alert alert-' + Status).show();
                        window.location.href = window.location.toString();
                    })
                    .fail(function(err) {
                        $('#alertMessage').html('Please Login').attr('class','alert alert-danger').show();
                    });
                });


                //Modify
                $('.modify-data > .text-data').click(function() {
                    $(this).hide();
                    $(this).parent().find('.input-data').show().find('input').focus();
                });

                $('.modify-data > .input-data > input').blur(function() {
                    var form = $(this).parent();
                    var action = form.parent().attr('class').replace('modify-data ','');
                    var self = $(this);

                    $.post('/api/' + action, form.serialize())
                    .done(function(data) {
                        form.hide();
                        form.parent().find('.text-data').show();
                        form.parent().find('.text-data').html(self.val());
                    })
                    .fail(function(err) {
                        self.val(form.parent().find('.text-data').html().trim());
                        alert('UPDATE Fail');
                    });
                });

                ///delCandidate
                $('.delCandidate').click(function() {
                    var tr = $(this).parents('tr');
                    var UID = tr.attr('class').replace('Candidate UID','');
                    if (!confirm('Sure?')) {
                        return;
                    }
                    $.post('/api/deleteCandidate', {UID:UID})
                    .done(function(data) {
                        if (data.Success){
                            tr.remove();
                        } else {
                            alert(data.Message);
                        }
                    })
                    .fail(function(err) {
                        alert('DELETE Fail');
                    })
                });

                //delGroup
                $('.delGroup').click(function() {
                    var tr = $(this).parents('tr');
                    var VGID = tr.attr('class').replace('Group','');
                    if (!confirm('Sure?')) {
                        return;
                    }
                    $.post('/api/deleteGroup', {VGID:VGID})
                    .done(function(data) {
                        if (data.Success){
                            tr.remove();
                        } else {
                            alert(data.Message);
                        }
                    })
                    .fail(function(err) {
                        alert('DELETE Fail');
                    })
                });

            })(jQuery);
        </script>
    </body>
</html>
