<!DOCTYPE HTML>
<html>
    <% include head %>
    <body>
        <div id="doc">
            <% include defaultNavbar %>
            <div class="container">
                <h3 class="text-center"><%= Vote[0].VoteName %> - <%= Vote[0].VoteDate %></h3>
                <div class="row">
                    <div class="col-md-6">
                        <a data-toggle="modal" href="#createGroupModal"><button class="btn btn-primary">Create Group</button></a>
                        <% include createGroupModal %>
                        <hr>
                        <div id="alertGroupMessage"></div><!-- end .alertGroupMessage -->
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Group Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var key in Group) { %>
                                <tr class="group<%= Group[key].VGID %>">
                                    <td><%= Group[key].Title %></td>
                                    <td><button type="button" class="close delGroup">&times;</button></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <form class="form-inline">
                            <input type="hidden" name="VID" value="<%= VID %>">
                            <div class="form-group">
                                <input type="text" name="CandidateNubmer" class="form-control CandidateNubmer" placeholder="Number">
                            </div>
                            <div class="form-group">
                                <input type="text" name="CandidateName" class="form-control CandidateName" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <button id="addCandidate" class="btn btn-primary">新增</button>
                            </div>
                        </form>
                        <hr>
                        <div id="alertCandidateMessage"></div><!-- end .alertCandidateMessage -->
                        <hr>
                        <table class="table CandidateList">
                            <thead>
                                <tr>
                                    <th>Num.</th>
                                    <th class="nameColumn">Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (var key in Candidate) { %>
                                <tr class="Candidate UID<%= Candidate[key].UID %>">
                                    <td><%= Candidate[key].Number %></td>
                                    <td><%= Candidate[key].Name %></td>
                                    <td><button type="button" class="close delCandidate">&times;</button></td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end .container -->
        </div><!-- end #doc -->
        <script>
            (function($){
                $('.alert').hide();

                //createGroupModal
                $('#createGroupModal .clone').click(function() {
                    var check = $('#createGroupModal .clone:checked').val();
                    var div = $(this).parents().find('.cloneDiv');
                    (undefined == check) ? (div.hide()) : (div.show());
                });

                $('#createGroupModal .addColumn').click(function(e) {
                    e.preventDefault();
                    $('#createGroupModal .group-name .form-control:first')
                        .clone()
                        .val("")
                        .appendTo('#createGroupModal .group-name');
                });

                $('#createGroupModal .submit').click(function() {
                    $.post('/api/createGroup', $('#createGroupModal form').serialize())
                    .done(function(data) {
                        $('#createGroupModal').modal('hide');
                        var Status = (true == data.Success) ? ('success') : ('danger');
                        $('#alertMessage').html(data.Message).attr('class','alert alert-' + Status).show();
                    })
                    .fail(function(err) {
                        $('#createGroupModal').modal('hide');
                        $('#alertMessage').html('Please Login').attr('class','alert alert-danger').show();
                    });
                });


                //addCandidate
                $('#addCandidate').click(function(e) {
                    e.preventDefault();
                    $.post('/api/createCandidate', $(this).parents('form').serialize())
                    .done(function(data) {
                        console.log(data);
                        var Status = (true == data.Success) ? ('success') : ('danger');
                        $('#alertCandidateMessage').html(data.Message).attr('class','alert alert-' + Status).show();
                    })
                    .fail(function(err) {
                        $('#alertMessage').html('Please Login').attr('class','alert alert-danger').show();
                    });
                });
            })(jQuery);
        </script>
    </body>
</html>
